<phpunit>
    <logging>
        <log type="coverage-text" target="coverage.txt" showUncoveredFiles="false"/>
    </logging>
    <testsuites>
        <testsuite name="WebComposerSynchronizationBundle unit tests">
            <directory>Tests/Service/</directory>
            <directory>Tests/Repository/</directory>
            <directory>Tests/Controller/</directory>
            <directory>Tests/Command/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>*</directory>
            <exclude>
                <directory>DataFixtures</directory>
                <directory>Tests</directory>
                <directory>DependencyInjection</directory>
                <directory>Entity</directory>
                <file>*Bundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>